<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendetta Wbot Tools[Commands]</title>
</head>
<style>
    body {
        min-height: 100%;
    }

    .footer {

        position: absolute;

        left: 0;

        bottom: 0;

        width: 100%;

        padding: 15px 0;

        text-align: center;

        color: white;

        background: black;

    }
</style>

<body>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="../semantic/dist/semantic.min.js"></script>
    <section>
        <h1 class="ui header">
            !핑
            <div class="sub header">퐁 이라고 대답합니다.</div>
        </h1>
    </section>
    <div class="footer">
        <p>제작자 : 천마 [Vendetta]#4120</p>
    </div>
</body>

</html>